# DB Configuration
# DBHOST=localhost
# DBPORT=3306
# DBUSER=root
# DBPASSWORD=Test@123
# DATABASE=mission_ias_a

DBHOST=
DBPORT=
DBUSER=
DBPASSWORD=
DATABASE=

# Server Environment
NODE_ENV=
PORT=

# Security
JWT_SECRET=

ENV_CHECKS_FOR_MAIL=

# SMTP
SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
DEFAULT_FROM=
DEFAULT_REPLY_TO=

# System URL
FE_DOMAIN=

# Files Base Path
LOCAL_FILE_PATH=